apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../base/actualbudget
  - ../base/authentik/
  - ../base/capacitor
  - ../base/cloudflared
  - ../base/dify
  - ../base/freshrss
  - ../base/home-assistant
  - ../base/homepage
  - ../base/karakeep
  - ../base/langfuse
  # - ../base/manyfold
  # - ../base/minio/operator
  # - ../base/minio/tenant
  - ../base/mlflow
  # - ../base/mongodb
  - ../base/n8n
  # - ../base/open-webui
  - ../base/redis
  - ../base/stirling-pdf
  # - ../base/supabase
