apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../base/actualbudget
  - ../base/capacitor
  - ../base/cloudflared
  # - ../base/dify
  # - ../base/freshrss
  - ../base/homepage
  # - ../base/manyfold
  - ../base/mongodb
  - ../base/n8n
  # - ../base/postgresql
  - ../base/redis
  - ../base/supabase
